@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

/*body {  
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}*/

.title {
  text-align: center;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.titleText {
  text-align: center;
  font-size: 16px;
  margin-bottom: 400px;
}

.titleImage {
  margin: 0 auto;
}

.ui.huge.image {
  bottom: 300px;
}

img.ui.image {
  diplay: inline;
  width: 200px;
  height: 200px;
}

.bioPic2 {
  left: 71px;
}

.ui.circular.image {
  display: inline;
}


.dropdown {
  margin-left: 20px;
}

div.item {
  padding: 0 !important;
}

.ui.dropdown .menu>.item {
  padding: 0 !important;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: blue;
}

.boxText {
  font-size: 20px;
  top: 84px;
  left: 51px;
  position: relative;
  line-height: 1.5;
}

.navbar {
  text-align: left;
}

span {
  margin: 10px;
  padding: 0;
  display: inline-block;
}

.ui.message:last-child {
    margin-bottom: 0;
    width: 800px;
    margin: 0 auto;
}

.contactMe {
  text-align: center;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}

.social {
  margin-left: 20px;
  margin-bottom: 300px;
}

.projectDescription {
  margin-left: 20px;
}

.app {
  margin-left: 20px;
  margin-top: 10px;
  /*font-family: 'Raleway', sans-serif;*/
}

.app p {
  margin: 0 0;
}

.app h3 {
  font-size: 25px;
}

.footer {
  padding: 10px;
  height: 50px;
}
