@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.title {
  text-align: center;
  font-size: 40px;
}

.titleText {
  text-align: center;
  font-size: 16px;
}

.titleImage {
  margin: 0 auto;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
  background-color: blue;
}

.boxText {
  font-size: 20px;
  top: 84px;
  left: 51px;
  position: relative;
  line-height: 1.5;
}

.navbar {
  text-align: left;
}

span {
  margin: 10px;
  padding: 0;
  display: inline-block;
}

.bio {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
}

.bioText {
  text-align: center;
  margin: 10px;
}

.contactMe {
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

.footer {
  padding: 10px;
}
